# Ignore everything
*

# But not these files...
!UNLICENSE
!.gitignore
!.gitattributes
!*.tex
!*.bib
!*.md
!*.pdf
!*.synctex.gz
!*.devcontainer.json
!*.devContainerService
!*.setWSLConfig.bat

# ...even if they are in subdirectories
!*/

# If the files to be tracked are in subdirectories
!.devcontainer/scripts/**/*
!.devcontainer/static/**/*
!config/**/*
!.github/**/*
#!*/a/b/file1.txt
#!*/a/b/c/*
